section.bloques{
    color: var(--color-white-dark);
}

.bloques__container > div > div{
    flex: 1 100%;
    height: 520px;
}

.bloque__content{
    align-items: flex-start;
    flex-direction: column;
}

.bloque__content > .bq__img{
    position: relative;
    background: url(../../img/content/series_content.jpg) center no-repeat;
    background-size: cover;

}

.bloque__content  .content{
    /*padding: 4rem;*/
    width: 75%;
    margin: 0 auto;
}

.bloque__content > .bq__txt--dch,
.bloque__content > .bq__img{
    font-size: calc( 1rem + var(--size-basic) );

}

.bg__img--2{
    background: url(../../img/content/joker_content.jpg) center no-repeat;
}

.photo{
    position: relative;
    width: 100%;
    min-height: 470px;
    display: flex;
    align-items: center;
}

section.bloques > article:nth-child(3) > .bloque__content > .bq__img{
    order: 1;
}


/* Mediaqueries */
@media all and (min-width: 768px) {

    .bloque__content{
        flex-direction: row;
    }

    .bloque__content > .bq__img{
        /*padding: 12rem 0 0 4rem;*/
    }

    .bloque__content > .bq__txt--dch{
/*        padding: 12rem 0 0 6rem;*/
    }

    .bloque__content > .bq__txt--dch,
    .bloque__content > .bq__img{
        font-size: calc( 1.5rem + var(--size-basic) );
    }

    section.bloques > article:nth-child(3) > .bloque__content > .bq__img{
        order: 0;
    }

}
