.card {
    background-color: var(--color-black-light);
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}

.card__img img {
    display: block;
    width: 100%;
    height: 270px;
}


.card .card__link {
    text-decoration: none;
    display: block;
    color: inherit;
}

.card > .card__link .card__img {
    position: relative;
}

.card__img i{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: .5rem;
    margin-left: .5rem;
    font-size: 2rem;
    color: var(--color-primary);
}

.card > .card__link .card__content {
    display: none;
}

.card > .card__link .card__content > div{
    align-items: center;
    justify-content: space-between;
}

.card > .card__link .card__content h4{
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--font-primary);
}

.card > .card__link .card__content p{
    margin: 0;
}


/* Info tarjeta peli, serie, etc... */
.card__info{
    position: relative;
    bottom:0 ;
    padding: 1rem;
    background-color: rgba( 239,84,102, 0.9);
    width: 100%;
    cursor: pointer;
}

.card__info dl > div{
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card__info dt{
    font-family: var(--font-primary);
    font-weight: bold;
    text-align: left;
}

.card__info dd{
    font-size: 1rem;
    text-align: right;
}


/* Mediaqueries */

@media all and (min-width: 1024px) {


    .card__img img {
        height: auto;
    }

    .card__info{
        position: absolute;

        /* Animación */
        visibility: hidden;
        transform: translateY(100%);
        opacity: 0;

    }

    .card > .card__link .card__content {
        display: block;
        padding: 1rem;
    }

    /* Efectos */
    .card:hover .card__info {


        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        transition: all ease-in-out 400ms;
        transition-delay: .25s;
    }

}

