section.form{
    margin: 5rem 0;
}

.form > .form__container{
    max-width: 920px;
    margin: 0 auto ;
}

.form > .form__container > .form__info{
    display: flex;
    flex-direction: column;

}

.form__info > div{
    flex: 1 100%;
}

/* Cambio de orden para que en móvil se vea primero el login */
.form__register{
    order: 1;
}

.form__login{
    order: 0;
}

.form__register,
.form__login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__register > .create__count,
.form__register > .info__login{
    display: flex;
    flex-direction: column;
}

/* Form crear cuenta */

.form__register > .create__count{
    padding: 1.5rem;
}

.create__count > span{
    font-size: calc( 1.5rem + var(--size-basic) );
    font-family: var(--font-primary);
    font-weight: bold;
    text-align: center;
}

.create__count > a{
    margin-top: 2rem;
    width: 100%;
}


/* Form login */
.form__login > .info__login > h3{
    font-size: 1.5rem;
}

.social__login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form__login a{
    text-decoration: none;
    color: var(--color-white-dark);
}

.social__login a:nth-child(1){
    color: var(--color-fb);
}

.social__login a:nth-child(2){
    color: var(--color-ggl);
}


.info__login{
    width: 100%;
    padding: 2rem 3rem;
}

.form__inputs{
    margin-top: 3rem;
}

div.form__inputs  .form__group{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

div.form__inputs  .form__group a{
    margin-top: 10px;
    font-size: .8rem;
}

.form__group > input[type="email"], input[type="password"]{
    padding: 1rem;
    border-radius: 5px;
}


.form__group > button[type="submit"]{
    width: calc(100%);
    font-size: var(--size-basic);
}


/* Mediaqueries */
@media all and (min-width: 768px){


    section.form{
        padding: 10rem 0;
    }

    .form > .form__container > .form__info{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    /* Cambio de orden para que en desktop se vea primero el register */
    .form__register{
        order: 0;
    }

    .form__login{
        order: 1;
    }

    .form__register > .create__count{
        padding: 2rem 0;
        width: 50%;
    }

    .create__count > span{
        font-size: calc( 1.75rem + var(--size-basic) );
        text-align: left;
    }

}