section.form{
    margin: 5rem 0;
    padding: 5rem 0;
}

.form > .form__container{
    max-width: 920px;
    margin: 0 auto ;
}

.form > .form__container > .form__info{
    display: block;

}

.form__info > div{
    flex: 1 100%;
}

.form__register,
.form__login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__register > .create__count,
.form__register > .info__login{
    display: flex;
    flex-direction: column;
}

/* Form crear cuenta */

.form__register > .create__count{
    padding: 1.5rem;
}

.create__count > span{
    font-size: calc( 1.5rem + var(--size-basic) );
    text-align: center;
}


/* Form login */
.social__login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info__login{
    width: 100%;
    padding: 2rem 3rem;
}

.form__inputs{
    margin-top: 3rem;
}

div.form__inputs  .form__group{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form__group > input[type="email"], input[type="password"]{
    padding: 1rem;
    border-radius: 5px;
}

.form__group > button[type="submit"]{
    padding: .7rem;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--color-white-dark);
    background-color: var(--color-white);
    color: var(--color-black-light);
    cursor: pointer;
    width: calc(100%);
}

/* Mediaqueries */
@media all and (min-width: 768px){

    .form > .form__container > .form__info{
        display: flex;
        flex-direction: row;
    }

    .form__register > .create__count{
        padding: 2rem 0;
        width: 50%;
    }

    .create__count > span{
        font-size: calc( 1.75rem + var(--size-basic) );
        text-align: left;
    }

}