header.header {
    height: calc(100vh - 70px);
    background: url(../../img/portada/portada_desktop-compressor.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .header__overlay{
    height: calc(100vh - 70px);
}

.header > .header__title {
    color: var(--color-white);
    z-index: 5;
}

.header > .header__title > h1 {
    font-size: calc( 1rem + var(--size-basic) );
}

.header > .header__title > h1 > span{
    font-family: var(--font-primary);
}


/* Mediaqueries */

@media all and (min-width: 768px) {

    .header > .header__title > h1 {

        font-size: calc( 2rem + var(--size-basic) );
    }
}

@media all and (min-width: 1024px) {

    .header > .header__title > h1 {

        font-size: calc( 3.5rem + var(--size-basic) );
    }
}