nav.nav{
    background: var(--color-black);
    color: var(--color-white);
    position: fixed;
    top: 0;
    width: 75%;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
}

.nav > .logo{
    position: fixed;
    text-align: left;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--color-black);
    padding: 1rem;
}

.nav > .logo a{
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav .btn__login{
    width: 100%;
    font-size: 1rem;
    padding: .3rem 2rem;
}


.nav .search__input{
    border-radius: 5px;
    border: none;
    padding: .5rem;
}

.nav > .burger__label{
    position: absolute;
    top: 7px;
    right: -20vw;
    width: 50px;
    height: 50px;
    z-index: 9999;
    font-size: 40px;
}

#burger-checkbox {
    display: none;
}


.nav > .burger__label:before {
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: var(--color-white);
    left: 8px;
    top: 13px;
    box-shadow: 0 10px 0 0 var(--color-white),
    0 20px 0 0 var(--color-white);
}

.nav > .nav__list{
    display: none;
    list-style: none;
    margin-top: 51px;
    flex: 1 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    text-align: center;
}

.nav > .nav__list li{
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
}

.nav > .nav__list > .nav__item a{
    color: var(--color-white-dark);
    text-decoration: none;
}


#burger-checkbox:checked ~ .nav__list {
    display: flex;
}



/* Mediaqueries */
@media all and (min-width: 768px) {

    nav.nav{
        width: 100%;
    }

    .nav > .logo{
        width: auto;
        top:1rem;
        left: 1rem;
        padding: 0;
    }

    .nav > .logo a{
        font-size: 2rem;
    }


    .nav > .burger__label{
        display: none;
    }

    .nav > .nav__list{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        height: unset;
        align-items: center;
    }

    .nav > .nav__list li{
        font-size: 1rem;
        margin: 0 1.5rem 0 0;
    }

    .nav > .nav__list li:hover > a{
        cursor: pointer;
        color: var(--color-primary);
    }

    .nav > .nav__list li:last-child{
        margin-left: 2rem;
    }

    .nav > .nav__list li i{
        font-size: 28px;
        color: var(--color-primary);
    }

    .nav .btn__login{
        width: fit-content;
    }

    .nav .search__input{
        padding-left: 5px;
    }

}
