section.sec__pelis{
    padding: 4vw;
}

.pelis__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}



/* Mediaqueries */

@media all and (min-width: 768px) {

    .pelis__grid{
        grid-template-columns: 1fr 1fr ;
        gap: 2rem;
    }

    .pelis__grid > .card{

        max-height: 350px;
    }

    .card__fig > .card__title{
        font-size: calc(1rem + var(--size-basic));
    }

}


@media all and (min-width: 1024px) {

    .pelis__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }



}



