section.sec__series{
    padding: 4vw;
    background-color: lightseagreen;
}



/* Pruebas para crear un scroll horizontal sin necesidad de usar javasxript, queda cutre porque se tiene que usar la
 barra, pero así practico la propiedad overflow y a personalizar una barra de navegación*/

.sec__series .series__grid{
    /*muestra barras de navegación si contenido excede*/
    overflow: auto;
    white-space: nowrap;

}


.sec__series .series__grid .card{
    display: inline-block;
    flex-grow: 1;
    width: 80%;
    margin: 0 1rem 2rem 0;
}


@media all and (min-width: 768px) {

    .sec__series .series__grid .card{
        width: 300px;

    }

}
