section.sec__pelis{
    padding: 4vw;
}

.pelis__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}



/* Mediaqueries */

@media all and (min-width: 768px) {

    .pelis__grid{
        grid-template-columns: 1fr 1fr ;
        gap: 2rem;
    }



}


@media all and (min-width: 1024px) {

    .pelis__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }



}



