section.sec__favs{
    padding: 4vw;
}

.favs__grid{
    justify-content: space-between;
    flex-wrap: wrap;

}


.favs__grid  .card{
    margin-bottom: 2rem;
}


@media all and (min-width: 768px){

    .favs__grid  .card{
       width: 48%;
    }

}


@media all and (min-width: 1024px){

    .favs__grid  .card{
        width: 24%;
    }

}
