body {
    background-color: var(--color-black);
}


div.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "nav    nav     nav    nav"
            "header header header header"
            "main   main    main   main"
            "footer footer footer footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main{
    background-color: lightseagreen;
    grid-area: main;
}

footer{
    background-color: lightgray;
    grid-area: footer;
}

/* Clases globales */
.text-center{
    text-align: center;
}